<!DOCTYPE html>
<html ng-app="myCSSModule">
<head>
	<meta charset="UTF-8">
	<title>ng-show</title>
</head>
<body>
	<div ng-controller="DeathrayMenuCtrl">
		<button ng-click="toggleMenu()">Toggle Menu</button>
		<ul ng-show="menuState.show">
			<li ng-click="stun()">Stun</li>
			<li ng-click="disintegrate()">Disintegrate</li>
			<li ng-click="erase()">Erase from history</li>
		</ul>
	</div>
	<script type="text/javascript" src="js/angular-1.3.0.js"></script>
	<script type="text/javascript" src="ngshow.js"></script>
</body>
</html>